version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️"
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️"
