name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install clang
      run: sudo apt install -y clang
    - name: Install diesel_cli
      run: cargo install diesel_cli --no-default-features --features sqlite
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
